/* App */
.App {
  font-family: 'Fredoka', sans-serif;
}
.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 96px);
}

/* LogIn */
.logoInicio{
  position: fixed;
  left: 20px;
  top: 20px;
  width: 100px;
}

/* Inicio */
.cabeceraReclamos{
  width: 100%;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  .App {
    background: whitesmoke;
  } 
}
@media (prefers-color-scheme: dark) {
  .App {
    background: #202124;
    color: white;
  }
}