.App {
  font-family: 'Fredoka', sans-serif;
}
.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoInicio{
  position: fixed;
  left: 20px;
  top: 20px;
  width: 100px;
}

.cabeceraReclamos{
  width: 100%;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  .App {
    background: whitesmoke;
  } 
}
@media (prefers-color-scheme: dark) {
  .App {
    background: #202124;
    color: white;
  } 
  .card-title{
    color: white;
  }
  label{
    color: white;
  }
  .form-control{
    background-color: #202124 !important;
    color: white !important;
  }
}