/* App */
.App {
  font-family: 'Fredoka', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 96px);
}
.spinner-border{
  margin-top: 50px;
}

/* LogIn */
.logoInicio{
  position: fixed;
  left: 20px;
  top: 20px;
  width: 100px;
}

/* Inicio y Personas y Edificios y Unidades */
.cabecera{
  width: 100%;
  padding: 20px;
  margin-top: 25px;
}
.acciones {
  display: flex;
  justify-content: space-between;
}
.search{
  width: 235px;
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  body {
    background: whitesmoke;
  } 
}
@media (prefers-color-scheme: dark) {
  body {
    background: #202124;
    color: white;
  }
}